@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

.grid-layout_normal {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer"
    ;
}

.grid-header {
    grid-area: header;
}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-main {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
}