@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

.grid-layout_normal {
    grid-template-rows: 50px minmax(80vh, 1fr) 30px;
    grid-template-columns: auto minmax(600px, 1fr);
    grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer"
    ;
}

.grid-header {
    grid-area: header;
}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-main {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
}